/* estilos de contraste gerais */
.alto-contraste,
.alto-contraste nav,
.alto-contraste div,
.alto-contraste li,
.alto-contraste ol,
.alto-contraste header,
.alto-contraste footer,
.alto-contraste section,
.alto-contraste main,
.alto-contraste aside,
.alto-contraste article {
    background: black;
    color: white;
}


.alto-contraste h1,
.alto-contraste h2,
.alto-contraste h3,
.alto-contraste h4,
.alto-contraste h5,
.alto-contraste h6,
.alto-contraste p,
.alto-contraste label,
.alto-contraste strong,
.alto-contraste em,
.alto-contraste span {
    color: white;
}
.alto-contraste a{
    color: yellow;
}

.alto-contraste button,
.alto-contraste input[type=button],
.alto-contraste input[type=reset],
.alto-contraste input[type=submit] {
    background: black;
    color: yellow;
    border: none;
}

.alto-contraste img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.alto-contraste img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}
/* _____________ */

/* ajustes espeficicos */
.alto-contraste .contraste__btn{
    background-image: url(../assets/icons/contrasteYL.png);
    background-color: var(--color-black);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    width: 50px;
    height: 70px;
    position: relative;
    cursor: pointer;
}
.alto-contraste .contraste__btn:hover{
    background-color: var(--color-dark-grey);
}
.alto-contraste .logo__icon{
    background-image: url(../assets/images/logoWT.png);
    background-repeat: no-repeat;
    width: 250px;
}
.alto-contraste .card{
    border: 1px solid;
}
.alto-contraste .about{
    border: 1px solid;
}