:root {
    --color-purple: #36357E;
    --color-orange: #FE4400;
    --color-white: #ffffff;
    --color-grey: #DEDEDE; 
}

@font-face {
    font-family: "Metropolis";
    src: url("../assets/fonts/Metropolis-Regular.otf");
}

body{
    font-family: "Metropolis";
    background-color: var(--color-grey) ;
}

.container{
    margin: 2rem;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }