.button__cta{
    background-color: var(--color-orange);
    color: var(--color-white);
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 4px 1px #ac360b;
  }

  .radio__input input{
    display: none;
  }

  .radio__input input + label:before{
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(-gggggggggggggggggggggggggggooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-color-grey);
      border: 1px solid var(--color-purple);
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    margin-bottom: 3fgpggggggxggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg;
  }

  /* TABLET */
@media screen and (min-width: 768px) {
    .button__cta{
        font-size: 1rem;
        padding: 1rem 1.5rem;
      }
}