
@import url("./base.css");


.calendar {
  position: relative;
  max-width: 250px; 
  background: var(--color-grey);
  color: var(--color-black);
  margin: 1rem auto;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: normal;
  border-radius: var(--calendar-border-radius);

}

.calendar-inner {
  padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar .calendar-inner .calendar-body div {
  padding: 4px;
  min-height: 30px;
  line-height: 30px;
  border: 1px solid transparent;
  margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7) {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7):hover {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div > a {
  color: var(--color-black);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
  border: 1px solid var(--calendar-date-hover-color);
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
  display: grid;
  text-align: center;
  cursor: pointer;
  margin: 3px 0px;
  background: var(--color-white);
  padding: 8px 0px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
  display: flex;
  min-width: 100px;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-purple);
  font-weight: bold;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
  text-align: right;
}

.calendar
  .calendar-inner
  .calendar-controls
  .calendar-year-month
  .calendar-year-label,
.calendar
  .calendar-inner
  .calendar-controls
  .calendar-year-month
  .calendar-month-label {
  font-weight: 500;
  font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
  background: var(--color-orange);
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
  outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar-days{
  color: var(--color-orange);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
  color: var(--color-black);
  font-size: 26px;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  background: var(--calendar-nextprev-bg-color);
  margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
  height: 20px;
  width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path {
  fill: var(--color-black);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
  color: var(--color-dark-grey);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .calendar{
  margin: 1rem auto 2rem auto;
  max-width: 400px;
  }
}