.card {
  background-color: var(--color-white);
  width: 234px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
}

.card__image {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  padding: 1rem;
}

.card__info {
  width: 130px;
  padding-right: 0.5rem;
}

.card__title {
  font-size: 0.75rem;
}

.card__category {
  font-size: 0.75rem;
  margin: 0.5rem 0;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  width: auto;
  height: auto;
}


.card__button {
  cursor: pointer;
  background-color: var(--color-purple);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

/* DESKTOP */
@media screen and (min-width:1024px) {
  .card{
    width: 350px;
    height: fit-content;
  }

  .card__image{
    width: 150px;
    height: 150px;
  }

  .card__info{
    width: fit-content;
  }
  .card__title{
    font-size: 1.5rem;
  }

  .card__category{
    width: fit-content;
    font-size: 1rem;
  }

  .card__button{
    font-size: 1rem;
  }
}