@import url("base.css");

.navbar{
  background-color: var(--color-orange);
  box-sizing: border-box;
  height: 86px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar__hamburger{
  cursor: pointer;
  z-index: 101;
}
.scroll{
  position: fixed;
}

.navbar__hamburger-hbar{
  border-radius: 10px;
  display: block;
  width: 45px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: var(--color-white);
}
/* animacao do hamburger */
.navbar__hamburger.active .navbar__hamburger-hbar:nth-child(2){
  opacity: 0;
}
.navbar__hamburger.active .navbar__hamburger-hbar:nth-child(1){
  transform: translateY(12px) rotate(45deg);
}
.navbar__hamburger.active .navbar__hamburger-hbar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
/* __________ */

.navbar__menu{
  position: fixed;
  width: 65%;
  left: -100%;
  display: flex;
  background-color: var(--color-orange);
  height: 100vh;
  text-align: center;
  z-index: 100;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: start;
  padding-top: 2.5rem;
  top: 0px;
  background-image:url(../assets/icons/ondaS.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 110px;
  transition: .3s;
}
.navbar__menu.active{
  left: 0;
}
.navbar__menu-item{
  font-family: "Metropolis", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  height: 45px;
  align-items: center;
  margin: 3rem 0 0 2rem;
  box-sizing: border-box;
  color: var(--color-white);
}
/* imagens dos itens */
.navbar__menu-item:nth-child(1){
  background-image: url("../assets/icons/cadastro.svg");
  background-repeat: no-repeat;
  background-size: 45px;
}
.navbar__menu-item:nth-child(2){
  background-image: url("../assets/icons/mentores.svg");
  background-repeat: no-repeat;
  background-size: 45px;
  left: 1px;
}
.navbar__menu-item:nth-child(3){
  background-image: url("../assets/icons/agendamento.svg");
  background-repeat: no-repeat;
  background-size: 45px;
}
.navbar__menu-item:nth-child(4){
  background-image: url("../assets/icons/contato.svg");
  background-repeat: no-repeat;
  background-size: 45px;
}
.navbar__menu-item:nth-child(5){
  background-image: url("../assets/icons/comunidade.svg");
  background-repeat: no-repeat;
  background-size: 45px;
}
/* __________ */

.navbar__menu-link{
  padding: 16px 0 16px 55px;
}

.navbar__avatar-img{
  border-radius: 100%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.logo__icon{
  width: 193px;
  height: 55px;
  background-repeat: no-repeat;
  background-image: url(../assets/images/logo.png);
  background-size: 193px;
  background-position: center;
}
/* mediaquery tablet/pc */
@media(min-width:992px){
  .navbar__hamburger-hbar{
    display: none;
  }
  .navbar__menu{
    background-color: inherit;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    left: 0;
    gap: 0;
    width: auto;
    position: relative;
    height: auto;
    top: -20px;
    background-image: none;
  }
  .navbar__menu-item{
    margin: 0;
  }
  #navbar__menu-itemIMG{
    background-image: none;
  }
  .navbar__menu-link{
    padding: 1rem;
  }
  .navbar__menu-link:hover{
    color: var(--color-grey);
    transition: .3s;
  }
  .navbar__hamburger{
    display: none;
    cursor: pointer;
    z-index: 101;
  }
  .logo__icon{
    width: 250px;
    background-size: 250px;
  }

  .contraste__btn{
    width: 60px;
    height: 86px;
    position: relative;
    cursor: pointer;
    background-color: var(--color-orange);
    background-image: url(../assets/icons/contrasteWT.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
  }
  .contraste__btn:hover{
    background-color: var(--color-purple);
    transition: .3s;
  }
}
