@import url("./header.css");
@import url("./cards.css");
@import url("./footer.css");
@import url("./alto-contraste.css");

body {
  font-size: 0.75rem;
}

.info {
  display: flex;
  flex-direction: column;
}
.search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.search__content {
  width: fit-content;
  order: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 274px;
  height: 60px;
}

.search__input {
  display: block;
  border: none;
  background-color: var(--color-white);
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 3rem;
  border-radius: 5px;
  background-image: url("../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: 13px;
  background-position-y: 7px;
}

.search__input::placeholder {
  font-size: 0.875rem;
  font-weight: 400; 
}

.about {
  background-color: var(--color-purple);
  color: var(--color-white);
  width: 274px;
  margin: auto;
}

.about__info {
  padding: 0.5rem;
  line-height: 1.2;
}

.about__title {
  font-size: 1rem;
  font-weight: bold;
}

.about__description {
  padding-top: 0.5rem;
}

.about__dots {
  background: transparent url("../assets/images/dots.png") no-repeat;
  background-size: cover;
  width: 43px;
  height: 43px;
  float: right;
}

.register {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.register__button {
  background-color: var(--color-orange);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 4px 1px #ac360b;
}

.mentors {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.mentors__title {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search__notFound{
  text-align: center;
  margin: 2rem auto 2rem auto;
  width: 60vw;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;  
  color: var(--color-purple);
}

/* TABLET */
@media screen and (min-width: 768px) {
  .about {
    width: 60vw;
    height: 80px;
    order: -1;
    margin-top: 2rem;
  }

  .search__content {
    width: 300px;
  }

  .about__info {
    font-size: 1rem;
  }

  .register__button {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }

  .mentors__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    margin: auto;
  }

  .search__notFound{
    font-size: 1.2rem;
    width: 50vw;
  }
}


/* DESKTOP */
@media screen and (min-width: 1024px) {
  .about{
    width: 70vw;
  }

  .search__content{
    width: 400px;
    height: 65px;
  }

  .search__input {
    padding: 1rem 2rem 1rem 3rem;
    background-position-y: 10px;
  }

  .search__input::placeholder {
    font-size: 1rem;
    font-weight: 400;
  }
  .cards{
    width: 72vw;
  }

  .search__notFound{
    font-size: 1.5rem;
    width: 40vw;
  }
}