@import url("./header.css");

.search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.search__content {
  width: fit-content;
  order: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 274px;
  height: 60px;
}

.search__input {
  display: block;
  border: none;
  background-color: var(--color-white);
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 3rem;
  border-radius: 5px;
}

.search__input::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
}

.search__image {
  background: transparent url("../assets/icons/search.svg") no-repeat;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  position: absolute;
}

.about {
  background-color: var(--color-purple);
  color: var(--color-white);
  width: 274px;
}

.about__info {
  padding: 0.5rem;
}

.about__title {
  font-size: 1rem;
  font-weight: bold;
}

.about__description {
  padding-top: 0.5rem;
}

.about__dots {
  background: transparent url("../assets/images/dots.png") no-repeat;
  background-size: cover;
  width: 43px;
  height: 43px;
  position: relative;
  float: right;
}

.register{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.register__button{
    background-color: var(--color-orange);
    color: var(--color-white);
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    box-shadow: 0 4px 4px 1px #AC360B;

}