@import url("./base.css");
@import url("./header.css");
@import url("calendar.css");

hr{
  background-color: var(--color-grey);
  color: var(--color-grey);
  margin: 1rem;
  height: 3px;
  border: none;
}


.mentor{
  background-color: var(--color-white);
  margin: 1rem 1.5rem;
  border-radius: 5px;
}
.mentor__info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mentor__image{
  width: 83px;
  height: 83px;
  border-radius: 50%;
  padding: 1rem;
}

.mentor__title{
  font-size: 0.75rem;
}

.mentor__category{
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0.5rem 0;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  width: fit-content;
}

.mentor__structure{
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: 0.75rem;
  font-weight: 400;
  margin: 1rem 2rem;
  border-radius: 5px;
  height: 60px

}

.mentor__waves{
  background: transparent url("../assets/images/waves.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 60px;
  float: left;
}

.mentor__rating{
  padding: 1rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mentor__stars{
  display: flex;
}
.star-icon {
  list-style-type: none;
  /* border: 1px solid #ffffff; */
  cursor: pointer;
  color: var(--color-orange);
  font-size: 20px;
}

.star-icon::before {
  content: "\2605";
}

.star-icon.ativo {
  content: "\2605";
}

.star-icon.ativo ~ .star-icon::before {
  content: "\2606";
}


.scheduling__structure{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.scheduling__title{
  font-size: 0.75rem;
  font-weight: bold;
  margin: 1rem;
}

/* .plataforms{
  display: flex;
  align-items: center;
} */

.plataforms__options{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0.25rem; */
  width: fit-content;
}

.plataforms__image{
  width: 35px;
}

.scheduling__input{
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-right: 0.25rem;
}

.scheduling__input:hover input{
  background-color: #ccc;
}

.scheduling__input input:checked{
  background-color: var(--color-purple);
}

.schedules{
  display: flex;
  /* justify-content: center; */
}
.schedules__options{
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.schedules h3{
  background-color: var(--color-orange);
  color: var(--color-white);
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
  width: 70px;
}