.scheduling__structure{
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .scheduling__title{
    font-size: 0.75rem;
    font-weight: bold;
    margin: 1rem;
  }
  
  
  .plataforms__options{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0.25rem; */
    width: fit-content;
  }
  
  .plataforms__image{
    width: 35px;
  }
  
  .scheduling__input{
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding-right: 0.25rem;
  }
  
  .scheduling__input:hover input{
    background-color: #ccc;
  }
  
  .scheduling__input input:checked{
    background-color: var(--color-purple);
  }
  
  .schedules{
    display: flex;
  }
  
  .schedules__options{
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    padding-left: 0.25rem;
  }
  
  .schedules h3{
    background-color: var(--color-orange);
    color: var(--color-white);
    text-align: center;
    font-size: 0.75rem;
    padding: 0.5rem 0.10rem;
    border-radius: 5px;
    width: 70px;
  }
  